html {
   font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/*first section*/

.header{
	width: 100%;
    height: 600px;
    position: relative;
    padding: 1px;
    background: url("../images/bg1.png");
    background-size: 100% 100%;
    text-align: center;
    color: rgb(183,174,166);
}

.header p:nth-child(1){
    color: #fff;
	font-size: 50px;
}
.header p:nth-child(2){
    width: 600px;
    display: inline-block;

}
.register{
    border: 2px grey solid;
    width: 700px;
    margin: 0 auto;
    padding: 20px 0;
}
.register p{
    display: block;
    padding: 0;
    margin: 0;
}

.register p:nth-child(1){
    color:#fff;
    font-size: 20px;
}

.form{
    margin:30px;
}

.form input{
    background:transparent;
    width: 200px;
    height: 30px;
    border: grey 1px solid;
    text-indent: 1em;
    margin:0 5px;
}

.form input:nth-child(1){
    color: #fff;
}

.form button{
    background-color: transparent;
    border: white 1px solid;
    background-color: white;
    height: 30px;
    color: black;
}

.form button:hover,.form button:hover{
    background-color: transparent;  
    color: white;
}


/*second section*/

.second{
    width: 100%;
    height: 400px;
    text-align: center;
}

.second-head p:nth-child(1){
    font-size: 15px;

}

.second-head p:nth-child(2){
    font-size: 30px;
    display:inline-block;
    text-align: justify;
    text-align-last: center;
    width:500px;
    margin:0 auto;
    font-weight: 80;
}




.img-list{
    margin-top: 50px;
    width: 950px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}

.items{
    width: 350px;
    flex:400px;
    height: 50px;
    position: relative;
    margin-bottom: 50px;
   /* margin-left:60px; */
}

.items:nth-child(1),.items:nth-child(3){
      margin-left:100px; 
}

.items img{
    display: inline-block;
    padding-left: 5px;
    position: absolute;
    left: 0;
    top: 0;
}

.items .icon-name{
    position: absolute;
    left: 70px;
    top: -20px;
}

.items .text{
    margin: 0;
    position: absolute;
    font-size: 15px;
    font-weight: 70;
    top: 30px;
    left: 70px;
    width: 300px;
    color: grey;
    text-align: left;
    white-space:normal;
    word-break: keep-all;
}


/*third section*/

.third{ 
    width: 100%;
    height: 650px;
    position: relative;
    padding: 1px;
    background:url(../images/bg3.png);
    background-size: 100% 100%;
    color: #fff;
}

.third-left{
    display: block;
    position: absolute;
    left:10%;
    width: 400px;
    margin-top: 100px;
    text-align: left;
}

.third-left p:nth-child(1){
    width: 280px;
    text-align: left;
    font-size: 30px;

}

.third-left p:nth-child(2){
    width: 280px;
    text-align: left;
    font-weight: 70;
}


.third-right{
    width: 50%;
    margin:0;
    position: absolute;
    right:0px;
    margin-top: 100px;
}

.third-right img:nth-child(1){
    width:500px;
    margin:0;
    position: absolute;
    right:0px;
    /*margin-top: 100px;*/
}

.third-right img:nth-child(2){
    width: 450px;
    /*margin:0;*/
    position: absolute;
    right:0px;
    margin-top: 23px;
}

.button1,.button2{
    background-color: transparent;
    border: white 1px solid;
    height: 50px;
    font-size: 10px;
    margin-right: 20px;
    color: white;
}
.button1:hover,.button2:hover{
    background-color: white;  
    color: black;
}
   


/*fourth section*/

.fourth{
    height: 350px;
    border-bottom: grey 1px solid;
    text-align: center;
    padding:0 100px;
}

.fourth p:nth-child(1){
    font-size:30px;
    font-weight: 50;
}

.fourth-list{
    display: flex;
    margin:0 auto;
}


.fourth-items{
    flex:400px;
}
.fourth-items p{
    color: grey;
}

/*fifth section*/

.fifth{
    width: 100%;
    height: 600px;
    border-bottom: grey 1px solid;
    text-align: center;
    margin: 50px auto;
    padding: 0 100px;

}
.fifth-1{
    height: 200px;
    position: relative;
    margin-bottom: 100px;
}

.fifth-1 img{
    position: absolute;
    left:0%;
    max-width: 450px;
    height: auto; 
    width: auto\9; 
    width:45%;
}

.fifth-1 div{
    position: absolute;
    right:100px;
    width: 300px;
    text-align: left;
}

.fifth-1 div p:nth-child(1){
   font-weight: bold
}

.fifth-1 div p:nth-child(2){
   margin-top: 30px;
   color: gray
}

.fifth-2{
    height: 200px;
    position: relative;
}

.fifth-2  img{
    position: absolute;
    max-width: 450px;
    right:100px;
    height: auto; 
    width: auto\9; 
    width:45%;
}

.fifth-2 div{
    position: absolute;
    left:0%;
    width: 300px;

}

.fifth-2 div p:nth-child(1){
   font-weight: bold
}

.fifth-2 div p:nth-child(2){
   margin-top: 30px;
   color: gray
}



/*sixth*/

.second{
    width: 100%;
    height: 400px;
    text-align: center;
}
.img-list{
    margin-top: 50px;
    width: 950px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}
.sixth{
    width: 100%;
    border-bottom: grey 1px solid;
    text-align: center;
}
.sixth p:nth-child(1){
    margin-top: 50px;
    font-size: 2em;
}
.sixth p:nth-child(2){
    width: 600px;
    margin-left: calc((100% - 600px)/2);
    margin-top: 20px;
    color: grey;
}
.head-picture{
    display: flex;
    flex-wrap: wrap;
    width: 660px;
    margin-left: calc((100% - 660px)/2);
    margin-top: 30px;
    position: relative;
}
.pic{
    max-width: 300px;
    max-height: 300px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.head-picture > div{
    position: relative;
}

.head-picture a div p:nth-child(1){
   margin-top: 40px;
   font-size: 20px;
}

.head-picture a div p:nth-child(2){
   margin-top: 5px;
   color: gray;
   font-size: 10px;
}

.mask1,.mask2,.mask3,.mask4{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 215px;
    background: black;
    color: #ffffff;
    opacity: 0;
}

.mask1 img,.mask2 img,.mask3 img,.mask4 img{
    margin: 0 auto;
    margin-bottom: 10px;
}

.head-pic1 a:hover .mask1,.head-pic2 a:hover .mask2
,.head-pic3 a:hover .mask3,.head-pic4 a:hover .mask4{
    opacity: 0.5;
}

/*seventh section*/
.seventh{
    display: flex;
    width: 100%;
    height: 750px;
    flex-wrap: wrap;
   
}
.seventh-left{
    border: grey 1px solid;
    width: 400px;
    height: 550px;
    margin-top: 100px;
    margin-left: calc((100% - 800px)/2);
}

.seventh-left p{
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
}

.email,.subject,.message{
    margin-top: 30px;
    border: grey 1px solid;
    text-indent: 5px;
    width: 300px;
    margin-left: 50px;
}
.message{
    width: 300px;
    height: 200px;
    text-align: top;
}

.send-button{
    width: 300px;
    height: 50px;
    margin-left: 50px;
    margin-top: 30px;
    background-color: black;
    color: white;
}
.seventh-right{
    margin-left: 100px;
    margin-top: 100px;
}

.seventh-right>p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
}

.seventh-right>p:nth-child(2){
    margin-top: 40px;
    color: grey;
    width: 300px;
}
.contact-info{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 60px;
}
.contact-info .text{
    position: absolute;
    left: 30px;
    top: 0;
}

.text+p{
    position: absolute;
    left: 30px;
    top: 20px;
}

.contact-info img{
    position: absolute;
    left: 0px;
    top: 20px;

}

/*eighth section*/

.eighth{
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
}
.eighth p{
    color: grey;
    font-size: 10px;
    margin-top: 20px;
}
.eighth .first{
    color: white;
}

.eighth div{
    margin-top: 50px;
    flex:1;
}

.eighth ul{
    list-style-type: none;
    display: flex;
    text-align: left;
}

.eighth ul li{
    flex:1;
    margin-left: -40px;
}




